[defaults]
inventory = shared/ansible/inventory/netbox.yml
roles_path = shared/ansible/roles
collections_path = .ansible/collections:shared/ansible/collections:/usr/share/ansible/collections
retry_files_enabled = False
interpreter_python = auto_silent
timeout = 30
host_key_checking = True

[ssh_connection]
pipelining = True
