ALLOWED_HOSTS={{ netbox_allowed_hosts | replace(',', ' ') }} {{ ansible_default_ipv4.address }}
CSRF_TRUSTED_ORIGINS={{ netbox_external_url }}
SECRET_KEY={{ netbox_secret_key }}
API_TOKEN_PEPPER_1={{ netbox_api_token_pepper }}
PLUGINS={{ netbox_plugins | join(',') }}
DB_HOST={{ netbox_postgresql_host }}
DB_PORT={{ netbox_postgresql_port }}
DB_NAME={{ netbox_postgresql_database }}
DB_USER={{ netbox_postgresql_username }}
DB_PASSWORD={{ netbox_postgres_password }}
REDIS_HOST={{ netbox_redis_host }}
REDIS_PORT={{ netbox_redis_port }}
REDIS_PASSWORD={{ netbox_redis_password }}
REDIS_DATABASE={{ netbox_redis_database }}
REDIS_CACHE_HOST={{ netbox_redis_host }}
REDIS_CACHE_PORT={{ netbox_redis_port }}
REDIS_CACHE_PASSWORD={{ netbox_redis_password }}
REDIS_CACHE_DATABASE={{ netbox_redis_cache_database }}
EMAIL_FROM={{ netbox_superuser_email }}
SUPERUSER_NAME={{ netbox_superuser_name }}
SUPERUSER_EMAIL={{ netbox_superuser_email }}
SUPERUSER_PASSWORD={{ netbox_superuser_password }}
SUPERUSER_API_TOKEN={{ netbox_superuser_api_token }}
SKIP_SUPERUSER=false
REMOTE_AUTH_ENABLED=true
REMOTE_AUTH_BACKEND=social_core.backends.open_id_connect.OpenIdConnectAuth
SOCIAL_AUTH_OIDC_OIDC_ENDPOINT={{ netbox_oidc_issuer_url }}
SOCIAL_AUTH_OIDC_KEY={{ netbox_oidc_client_id }}
SOCIAL_AUTH_OIDC_SECRET={{ netbox_oidc_client_secret }}
SOCIAL_AUTH_OIDC_SCOPE={{ netbox_oidc_scope }}
LOGOUT_REDIRECT_URL={{ netbox_oidc_logout_redirect_url }}
