ETCDCTL_API=3
ETCD_ENDPOINTS={{ etcd_ha_effective_endpoints | join(',') | quote }}
ETCD_HA_KEY={{ (etcd_ha_key_prefix.rstrip('/') ~ '/' ~ etcd_ha_controller_name) | quote }}
ETCD_HA_IDENTITY={{ inventory_hostname | quote }}
ETCD_HA_LEASE_TTL={{ etcd_ha_lease_ttl | quote }}
ETCD_HA_POLL_INTERVAL={{ etcd_ha_poll_interval | quote }}
ETCD_HA_HEALTHCHECK_COMMAND={{ etcd_ha_healthcheck_command | quote }}
ETCD_HA_HEALTHCHECK_INTERVAL={{ etcd_ha_healthcheck_interval | quote }}
ETCD_HA_HEALTHCHECK_RETRIES={{ etcd_ha_healthcheck_retries | quote }}
ETCD_HA_SERVICE_UNIT={{ etcd_ha_service_unit | quote }}
ETCD_HA_SERVICE_STOP_COMMAND={{ etcd_ha_service_exec_stop | quote }}
ETCD_HA_WORKING_DIRECTORY={{ etcd_ha_service_working_directory | quote }}
