WOODPECKER_IMAGE={{ woodpecker_image }}
WOODPECKER_DATA_DIR={{ woodpecker_data_dir }}
WOODPECKER_HTTP_PORT={{ woodpecker_http_port }}
WOODPECKER_GRPC_PORT={{ woodpecker_grpc_port }}

WOODPECKER_OPEN=true
WOODPECKER_HOST={{ woodpecker_external_url }}
WOODPECKER_EXPERT_WEBHOOK_HOST={{ woodpecker_webhook_host }}
WOODPECKER_SERVER_ADDR=:{{ woodpecker_http_port }}
WOODPECKER_GRPC_ADDR=:{{ woodpecker_grpc_port }}

WOODPECKER_FORGEJO=true
WOODPECKER_FORGEJO_URL={{ woodpecker_forgejo_url }}
WOODPECKER_FORGEJO_CLIENT={{ woodpecker_forgejo_client }}
WOODPECKER_FORGEJO_SECRET={{ woodpecker_forgejo_secret }}
WOODPECKER_ADMIN={{ woodpecker_admin }}
WOODPECKER_ORGS={{ woodpecker_organization }}

{% if woodpecker_agent_secret | length > 0 %}
WOODPECKER_AGENT_SECRET={{ woodpecker_agent_secret }}
{% endif %}
WOODPECKER_GRPC_SECRET={{ woodpecker_grpc_secret }}
WOODPECKER_DATABASE_DRIVER=postgres
WOODPECKER_DATABASE_DATASOURCE=postgres://{{ woodpecker_database_user | urlencode | replace('/', '%2F') }}:{{ postgresql_woodpecker_password | urlencode | replace('/', '%2F') }}@{{ woodpecker_database_host }}:{{ woodpecker_database_port }}/{{ woodpecker_database_name }}?sslmode=disable

WOODPECKER_CONFIG_EXTENSION_ENDPOINT={{ woodpecker_config_extension_endpoint }}
WOODPECKER_CONFIG_EXTENSION_NETRC={{ woodpecker_config_extension_netrc | lower }}
WOODPECKER_SECRET_EXTENSION_ENDPOINT={{ woodpecker_secret_extension_endpoint }}
WOODPECKER_SECRET_EXTENSION_NETRC={{ woodpecker_secret_extension_netrc | lower }}
WOODPECKER_EXTENSIONS_ALLOWED_HOSTS=private
