WOODPECKER_SERVER={{ woodpecker_agent_server }}
WOODPECKER_AGENT_SECRET={{ woodpecker_agent_secret }}
WOODPECKER_HOSTNAME={{ woodpecker_agent_name }}
WOODPECKER_MAX_WORKFLOWS={{ woodpecker_agent_max_workflows }}
WOODPECKER_BACKEND=local
WOODPECKER_AGENT_LABELS=opentofu=true{% for rollout_contour in woodpecker_agent_rollout_contours if rollout_contour | upper != woodpecker_agent_contour | upper %},contour-{{ rollout_contour | lower }}=true{% endfor %}{{ '\n' }}
WOODPECKER_GRPC_SECURE={{ woodpecker_agent_grpc_secure | lower }}
WOODPECKER_GRPC_SKIP_VERIFY=false
