MODEL_ID={{ llm_model_path }}
MODEL_SOURCE_ID={{ llm_model_id }}
CUDA_HOME={{ llm_cuda_home }}
PATH={{ llm_venv }}/bin:{{ llm_cuda_home }}/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
# Usage telemetry invokes py-cpuinfo, which can segfault in forked workers.
VLLM_NO_USAGE_STATS=1
SERVED_MODEL_NAME={{ llm_served_model_name }}
VLLM_DEVICE_IDS={{ llm_model_gpu_uuids | join(',') }}
PIPELINE_PARALLEL_SIZE={{ llm_pipeline_parallel_size }}
TENSOR_PARALLEL_SIZE={{ llm_tensor_parallel_size }}
VLLM_NUMA_NODE={{ llm_numa_node }}
MAX_MODEL_LEN={{ llm_max_model_len }}
MAX_NUM_SEQS={{ llm_max_num_seqs }}
MAX_NUM_BATCHED_TOKENS={{ llm_max_num_batched_tokens }}
GPU_MEMORY_UTILIZATION={{ llm_gpu_memory_utilization }}
VLLM_HOST={{ llm_api_host }}
VLLM_PORT={{ llm_api_port }}
LLM_EXPECTED_GPU_COUNT={{ llm_expected_gpu_count }}
LLM_EXPECTED_GPU_PRODUCT_PATTERN={{ llm_expected_gpu_product_pattern | quote }}
LLM_MINIMUM_VRAM_MIB={{ llm_minimum_vram_mib }}
LLM_MINIMUM_FREE_GIB=30
HF_HOME={{ llm_data_root }}/huggingface
VLLM_CACHE_ROOT={{ llm_data_root }}/vllm-cache
{% if llm_external_https_proxy | length > 0 %}
HTTPS_PROXY={{ llm_external_https_proxy }}
https_proxy={{ llm_external_https_proxy }}
NO_PROXY=127.0.0.1,localhost
no_proxy=127.0.0.1,localhost
{% endif %}
